@import "tailwindcss";


:root{
  --circular:50%;
}

.one-line-limit{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.image_setup{
  width: 4vw;
  margin: 8px;
  padding: 3px;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.6sec ease-in;
}
.image_setup:hover{
  box-shadow: 0 0 5px 5px #414040;
}